In [39]:
AGGREGATE Functions:-

SyntaxError: invalid syntax (1256471444.py, line 1)

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_22420\662092513.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,18,S29134300126,11/18/2015,3723,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",67.0,...,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,21,S29282800048,11/23/2015,2642,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",63.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,996,S26164400020,06/16/2015,3944,Sam's Club 4973 / Dubuque,4400 ASBURY RD,DUBUQUE,52002,"4400 ASBURY RD\nDUBUQUE 52002\n(42.515282, -90...",31.0,...,41705,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,997,S19675100022,06/25/2014,4008,Sioux Valley Spirits,116 E MAIN ST,ANTHON,51004,"116 E MAIN ST\nANTHON 51004\n(42.388268, -95.8...",97.0,...,28890,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,998,S12278000057,05/22/2013,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,2605 BLAIRS FERRY RD NE\nCEDAR RAPIDS 52402\n(...,57.0,...,34029,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,999,S05694100030,05/23/2012,2487,Anamosa Family Foods,402 EAST MAIN,ANAMOSA,52205,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,...,11774,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,1000,S23309100006,01/06/2015,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,"633, CHASE ST\nOSAGE 50461\n(43.285134, -92.81...",66.0,...,35926,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
data = data['State Bottle Cost'].max()
data

np.float64(99.95)

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_22420\662092513.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,18,S29134300126,11/18/2015,3723,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",67.0,...,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,21,S29282800048,11/23/2015,2642,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",63.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,996,S26164400020,06/16/2015,3944,Sam's Club 4973 / Dubuque,4400 ASBURY RD,DUBUQUE,52002,"4400 ASBURY RD\nDUBUQUE 52002\n(42.515282, -90...",31.0,...,41705,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,997,S19675100022,06/25/2014,4008,Sioux Valley Spirits,116 E MAIN ST,ANTHON,51004,"116 E MAIN ST\nANTHON 51004\n(42.388268, -95.8...",97.0,...,28890,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,998,S12278000057,05/22/2013,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,2605 BLAIRS FERRY RD NE\nCEDAR RAPIDS 52402\n(...,57.0,...,34029,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,999,S05694100030,05/23/2012,2487,Anamosa Family Foods,402 EAST MAIN,ANAMOSA,52205,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,...,11774,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,1000,S23309100006,01/06/2015,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,"633, CHASE ST\nOSAGE 50461\n(43.285134, -92.81...",66.0,...,35926,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
data = data['Sale (Dollars)'].max()

data

np.float64(15840.0)

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data

data = data['Sale (Dollars)'].min()
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_22420\2625031141.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

np.float64(0.0)

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data
data['Category Name'].value_counts()

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_22420\1033844444.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

Category Name
VODKA 80 PROOF                        107
CANADIAN WHISKIES                      82
SPICED RUM                             62
TEQUILA                                46
VODKA FLAVORED                         45
STRAIGHT BOURBON WHISKIES              44
PUERTO RICO & VIRGIN ISLANDS RUM       41
IMPORTED VODKA                         39
BLENDED WHISKIES                       34
WHISKEY LIQUEUR                        33
FLAVORED RUM                           30
AMERICAN COCKTAILS                     27
IMPORTED VODKA - MISC                  25
CREAM LIQUEURS                         23
AMERICAN GRAPE BRANDIES                21
AMERICAN DRY GINS                      19
DECANTERS & SPECIALTY PACKAGES         18
IMPORTED DRY GINS                      17
SCOTCH WHISKIES                        15
TENNESSEE WHISKIES                     14
IMPORTED GRAPE BRANDIES                14
MISC. IMPORTED CORDIALS & LIQUEURS     14
PEPPERMINT SCHNAPPS                    13
IMPORTED SCHNAPPS                      13
100 PROOF VODKA                        13
MISC. AMERICAN CORDIALS & LIQUEURS     13
SINGLE MALT SCOTCH                     10
APRICOT BRANDIES                        8
BLACKBERRY BRANDIES                     8
PEACH SCHNAPPS                          7
STRAIGHT RYE WHISKIES                   6
IRISH WHISKIES                          5
AMERICAN AMARETTO                       5
APPLE SCHNAPPS                          4
BARBADOS RUM                            4
DISTILLED SPIRITS SPECIALTY             4
WATERMELON SCHNAPPS                     3
TRIPLE SEC                              3
FLAVORED GINS                           3
CINNAMON SCHNAPPS                       3
COFFEE LIQUEURS                         3
CHERRY BRANDIES                         2
AMERICAN ALCOHOL                        2
GRAPE SCHNAPPS                          2
STRAWBERRY SCHNAPPS                     2
TROPICAL FRUIT SCHNAPPS                 2
BUTTERSCOTCH SCHNAPPS                   2
RASPBERRY SCHNAPPS                      2
MISCELLANEOUS SCHNAPPS                  1
MISCELLANEOUS  BRANDIES                 1
IMPORTED AMARETTO                       1
ROOT BEER SCHNAPPS                      1
OTHER PROOF VODKA                       1
SINGLE BARREL BOURBON WHISKIES          1
WHITE CREME DE MENTHE                   1
Name: count, dtype: int64

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_22420\3011726465.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,18,S29134300126,11/18/2015,3723,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",67.0,...,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,21,S29282800048,11/23/2015,2642,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",63.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,996,S26164400020,06/16/2015,3944,Sam's Club 4973 / Dubuque,4400 ASBURY RD,DUBUQUE,52002,"4400 ASBURY RD\nDUBUQUE 52002\n(42.515282, -90...",31.0,...,41705,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,997,S19675100022,06/25/2014,4008,Sioux Valley Spirits,116 E MAIN ST,ANTHON,51004,"116 E MAIN ST\nANTHON 51004\n(42.388268, -95.8...",97.0,...,28890,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,998,S12278000057,05/22/2013,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,2605 BLAIRS FERRY RD NE\nCEDAR RAPIDS 52402\n(...,57.0,...,34029,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,999,S05694100030,05/23/2012,2487,Anamosa Family Foods,402 EAST MAIN,ANAMOSA,52205,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,...,11774,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,1000,S23309100006,01/06/2015,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,"633, CHASE ST\nOSAGE 50461\n(43.285134, -92.81...",66.0,...,35926,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
data['Sale (Dollars)'].sum()

np.float64(129799.15999999999)

In [ ]:
data['Bottles Sold'].sum()

np.int64(8889)

In [ ]:
ndf=data.loc[data['State Bottle Retail']==data['State Bottle Retail'].max()]
ndf[['Category Name', 'State Bottle Retail']]

           Category Name  State Bottle Retail
149  BLACKBERRY BRANDIES                  0.0

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_22420\3011726465.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,18,S29134300126,11/18/2015,3723,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",67.0,...,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,21,S29282800048,11/23/2015,2642,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",63.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,996,S26164400020,06/16/2015,3944,Sam's Club 4973 / Dubuque,4400 ASBURY RD,DUBUQUE,52002,"4400 ASBURY RD\nDUBUQUE 52002\n(42.515282, -90...",31.0,...,41705,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,997,S19675100022,06/25/2014,4008,Sioux Valley Spirits,116 E MAIN ST,ANTHON,51004,"116 E MAIN ST\nANTHON 51004\n(42.388268, -95.8...",97.0,...,28890,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,998,S12278000057,05/22/2013,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,2605 BLAIRS FERRY RD NE\nCEDAR RAPIDS 52402\n(...,57.0,...,34029,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,999,S05694100030,05/23/2012,2487,Anamosa Family Foods,402 EAST MAIN,ANAMOSA,52205,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,...,11774,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,1000,S23309100006,01/06/2015,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,"633, CHASE ST\nOSAGE 50461\n(43.285134, -92.81...",66.0,...,35926,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
data['State Bottle Retail'].mean()

np.float64(15.3410119695321)

In [ ]:
SLICING   And Data Frame  :-

In [ ]:
new = data.iloc[0: , 16:]
new

,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...
914,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
new.mean()

Pack                      12.150163
Bottle Volume (ml)       986.751904
State Bottle Cost         10.207998
State Bottle Retail       15.341012
Bottles Sold               9.672470
Sale (Dollars)           141.239565
Volume Sold (Liters)       9.118020
Volume Sold (Gallons)      2.408781
dtype: float64

In [ ]:

                                                    GROUP BY

In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
data

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16776\3011726465.py:1: SyntaxWarning: invalid escape sequence '\p'
  data=pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,18,S29134300126,11/18/2015,3723,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",67.0,...,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,21,S29282800048,11/23/2015,2642,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",63.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,996,S26164400020,06/16/2015,3944,Sam's Club 4973 / Dubuque,4400 ASBURY RD,DUBUQUE,52002,"4400 ASBURY RD\nDUBUQUE 52002\n(42.515282, -90...",31.0,...,41705,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,997,S19675100022,06/25/2014,4008,Sioux Valley Spirits,116 E MAIN ST,ANTHON,51004,"116 E MAIN ST\nANTHON 51004\n(42.388268, -95.8...",97.0,...,28890,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,998,S12278000057,05/22/2013,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,2605 BLAIRS FERRY RD NE\nCEDAR RAPIDS 52402\n(...,57.0,...,34029,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,999,S05694100030,05/23/2012,2487,Anamosa Family Foods,402 EAST MAIN,ANAMOSA,52205,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,...,11774,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,1000,S23309100006,01/06/2015,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,"633, CHASE ST\nOSAGE 50461\n(43.285134, -92.81...",66.0,...,35926,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
Sales Analysis by Store:

What is the total sales amount (Sale (Dollars)) per store?

How many bottles were sold (Bottles Sold) per store?

Which store has the highest total sales?

Which store sells the most volume in liters (Volume Sold (Liters))?

In [ ]:
Sales per store and    converting data to .excel

In [ ]:
new = data.groupby ('Store Name').agg(
    total_sale_value = ('Sale (Dollars)', 'sum'),
    total_bottle_sold = ('Bottles Sold' , 'sum'),
     storewise_volume_in_ltrs=('Volume Sold (Liters)','sum')
)
new

,total_sale_value,total_bottle_sold,storewise_volume_in_ltrs
Store Name,,,
7 Rayos Liquor Store,143.28,12,9.00
A J'S LIQUOR II,503.52,24,18.00
Abby Lea's,90.00,4,3.00
Ackley Super Foods,36.90,6,4.50
Adventureland Inn,707.04,48,57.00
...,...,...,...
Wilkie Liquors,2837.61,117,120.75
Wine and Spirits Gallery,251.96,25,9.38
Wine and Spirits Shoppe Of,8.58,1,0.50
Wines and Spirits,22.25,2,2.13
Wj's Liquor,7.44,1,0.50

In [ ]:
Max highest sale:

In [ ]:
max_sale = new['total_sale_value'].max()
new.loc[new['total_sale_value']==max_sale]

,total_sale_value,total_bottle_sold,storewise_volume_in_ltrs,highest_total_sale
Store Name,,,,
Hy-Vee #3 / BDI / Des Moines,18043.45,609,601.0,15840.0

In [ ]:
                                        SORT   A VALUE :-----  (ASCENDING     and     DESCENDING)

In [ ]:
                                        ASCENDING SORTING

In [ ]:
new.sort_values('total_sale_value')

,total_sale_value,total_bottle_sold,storewise_volume_in_ltrs
Store Name,,,
Fareway Stores #703 / Humbolt,0.00,12,9.00
Smokin' Joe's #3 Tobacco and Liquor,4.34,1,0.38
Lucky Mart,4.60,1,0.38
The Music Station,5.88,2,0.40
Fast Trip / Des Moines,7.04,4,0.80
...,...,...,...
Hy-Vee / Waukee,1951.68,84,63.00
Central City 2,2722.10,136,135.50
Wilkie Liquors,2837.61,117,120.75
Sam's Club 6514 / Waterloo,6844.32,336,588.00
Hy-Vee #3 / BDI / Des Moines,18043.45,609,601.00

In [ ]:
                                                DESCENDING    SORTING

In [ ]:
new.sort_values('total_bottle_sold' , ascending=False)

,total_sale_value,total_bottle_sold,storewise_volume_in_ltrs
Store Name,,,
Hy-Vee #3 / BDI / Des Moines,18043.45,609,601.00
Sam's Club 6514 / Waterloo,6844.32,336,588.00
Southside Food Mart,907.35,161,118.60
Central City 2,2722.10,136,135.50
Wilkie Liquors,2837.61,117,120.75
...,...,...,...
Charley's Quik Shop,7.44,1,0.60
Casey's General Store #2802 / Conrad,11.21,1,0.50
Buchanan County Liquor Store,11.02,1,1.00
Wine and Spirits Shoppe Of,8.58,1,0.50
Wj's Liquor,7.44,1,0.50

In [ ]:
sales_category = pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')
sales_category

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
C:\Users\LENOVO\AppData\Local\Temp\ipykernel_16776\2413676981.py:1: SyntaxWarning: invalid escape sequence '\p'
  sales_category = pd.read_csv('E:\python_numpy\sample_iowa_liquor_sales.csv')

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40
3,18,S29134300126,11/18/2015,3723,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",67.0,...,258,"Rumchata ""GoChatas""",1,6000,99.00,148.50,1,148.50,6.0,1.59
4,21,S29282800048,11/23/2015,2642,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",63.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
914,996,S26164400020,06/16/2015,3944,Sam's Club 4973 / Dubuque,4400 ASBURY RD,DUBUQUE,52002,"4400 ASBURY RD\nDUBUQUE 52002\n(42.515282, -90...",31.0,...,41705,Uv Red (cherry) Vodka,12,1000,7.50,11.25,12,135.00,12.0,3.17
915,997,S19675100022,06/25/2014,4008,Sioux Valley Spirits,116 E MAIN ST,ANTHON,51004,"116 E MAIN ST\nANTHON 51004\n(42.388268, -95.8...",97.0,...,28890,Tanqueray Rangpur Gin,12,750,12.50,18.74,2,37.48,1.5,0.40
916,998,S12278000057,05/22/2013,3385,Sam's Club 8162 / Cedar Rapids,2605 BLAIRS FERRY RD NE,CEDAR RAPIDS,52402,2605 BLAIRS FERRY RD NE\nCEDAR RAPIDS 52402\n(...,57.0,...,34029,Absolut Citron (lemon Vodka),12,1000,15.00,22.49,60,1349.40,60.0,15.85
917,999,S05694100030,05/23/2012,2487,Anamosa Family Foods,402 EAST MAIN,ANAMOSA,52205,"402 EAST MAIN\nANAMOSA 52205\n(42.108289, -91....",53.0,...,11774,Black Velvet,24,375,3.07,4.60,48,220.80,18.0,4.76
918,1000,S23309100006,01/06/2015,4559,Osage Payless Foods,"633, CHASE ST",OSAGE,50461,"633, CHASE ST\nOSAGE 50461\n(43.285134, -92.81...",66.0,...,35926,Five O'clock PET Vodka,12,750,3.37,5.06,12,60.72,9.0,2.38

In [ ]:
sales_category.head(3)

,Unnamed: 0,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,6,S28865700001,11/09/2015,2538,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",7.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,6,104.58,9.0,2.38
1,8,S29339300091,11/30/2015,2662,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",70.0,...,173,Laphroaig w/ Whiskey Stones,12,750,19.58,29.37,4,117.48,3.0,0.79
2,13,S28866900001,11/11/2015,3650,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,47.0,...,238,Forbidden Secret Coffee Pack,6,1500,11.62,17.43,1,17.43,1.5,0.40

In [44]:
newdata=data.groupby(['Category Name']).agg(
    revenue = ('Sale (Dollars)' , 'sum'),
    a=('Bottles Sold' , 'sum')
)
newdata

                                      revene     a
Category Name
100 PROOF VODKA                       682.82    78
AMERICAN ALCOHOL                      236.28    18
AMERICAN AMARETTO                     218.46    34
AMERICAN COCKTAILS                   1748.13   177
AMERICAN DRY GINS                    1164.99   148
AMERICAN GRAPE BRANDIES              1141.03   139
APPLE SCHNAPPS                        840.27    73
APRICOT BRANDIES                      474.22    62
BARBADOS RUM                          338.70    23
BLACKBERRY BRANDIES                   240.01    35
BLENDED WHISKIES                     2407.76   272
BUTTERSCOTCH SCHNAPPS                 170.96    16
CANADIAN WHISKIES                   11047.60   834
CHERRY BRANDIES                        48.07     6
CINNAMON SCHNAPPS                      77.55     7
COFFEE LIQUEURS                       522.72    36
CREAM LIQUEURS                       4166.62   175
DECANTERS & SPECIALTY PACKAGES       2600.61   127
DISTILLED SPIRITS SPECIALTY           381.12    26
FLAVORED GINS                         272.72    28
FLAVORED RUM                         2993.76   241
GRAPE SCHNAPPS                         45.23     5
IMPORTED AMARETTO                     249.48    12
IMPORTED DRY GINS                    2809.12   135
IMPORTED GRAPE BRANDIES               993.85    82
IMPORTED SCHNAPPS                    1957.29   126
IMPORTED VODKA                      23495.96   848
IMPORTED VODKA - MISC                3146.86   169
IRISH WHISKIES                        477.22    37
MISC. AMERICAN CORDIALS & LIQUEURS    706.86    59
MISC. IMPORTED CORDIALS & LIQUEURS   2022.11   121
MISCELLANEOUS  BRANDIES                89.43     3
MISCELLANEOUS SCHNAPPS                 28.35     3
OTHER PROOF VODKA                      35.37     3
PEACH SCHNAPPS                        483.99    48
PEPPERMINT SCHNAPPS                   718.21    95
PUERTO RICO & VIRGIN ISLANDS RUM     5735.39   435
RASPBERRY SCHNAPPS                     31.92     4
ROOT BEER SCHNAPPS                     28.35     3
SCOTCH WHISKIES                      1155.43    58
SINGLE BARREL BOURBON WHISKIES         64.38     3
SINGLE MALT SCOTCH                   1447.59    31
SPICED RUM                           8175.47   602
STRAIGHT BOURBON WHISKIES            4360.14   292
STRAIGHT RYE WHISKIES                2640.96   102
STRAWBERRY SCHNAPPS                    40.29     5
TENNESSEE WHISKIES                   4445.41   186
TEQUILA                             13687.26   758
TRIPLE SEC                            117.96    36
TROPICAL FRUIT SCHNAPPS                55.86     8
VODKA 80 PROOF                      10996.24  1377
VODKA FLAVORED                       2952.36   275
WATERMELON SCHNAPPS                   280.42    25
WHISKEY LIQUEUR                      4466.36   376
WHITE CREME DE MENTHE                  83.64    12

In [48]:

high=newdata['a'].max()
newdata.loc[newdata['a']==high]

                  revene     a
Category Name
VODKA 80 PROOF  10996.24  1377

In [2]:
import pandas as pd
import plotly as